#####label#; label name; color red; green; blue;
#####labels_sorted=[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 16, 20, 21, 24, 30, 34, 35, 43, 45, 46, 49, 54, 56, 57, 58, 68, 101, 170, 171, 190, 191, 192, 196, 200, 					227, 246, 250, 251]
#######################################################################################################
0;None;255.0; 255.0; 255.0;    //white
35;ACA;255.0; 0.0; 0.0;    //red
191;MCA right;255.0; 255.0; 150.0;    //yellow
190;MCA left;255.0; 255.0; 0.0;    //yellow 
2;Internal Carotid artery right;100.0; 170.0; 255.0;    //blue
43;Internal Carotid artery left;0.0; 170.0; 255.0;    //blue
200;Posterior Comm. artery right;170.0; 0.0; 255.0;    //purple 
9;Posterior Comm. artery left;140.0; 0.0; 255.0;    //purple 
8;PCA right;255.0; 170.0; 255.0;    //pink 
5;PCA left;255.0; 85.0; 127.0;    //pink 
68;SCA right;255.0; 170.0; 127.0;    //orange 
227;SCA left;255.0; 100.0; 0.0;     //orange
46;AICA right;0.0; 85.0; 0.0;    //dark green 
12;AICA left;0.0; 85.0; 170.0;     //dark green
196;Basilar artery;85.0; 255.0; 255.0;    //light blue 
7;Vertebral artery;85.0; 255.0; 0.0;    //light green
49;Internal Auditory artery right;100.0; 100.0; 150.0;     //light green
45;Internal Auditory artery left;120.0; 120.0; 180.0;     //light green
11;Superior Saggital Sinus;255.0; 85.0; 0.0;    //orange 
6;Great Cerebral Vein of Galen;0.0; 0.0; 255.0;     //blue
30;Transverse Sinus right;0.0; 170.0; 0.0;    //green 
246;Transverse Sinus left;0.0; 255.0; 0.0;     //green
192;Caudal Rhinal Vein right;255.0; 170.0; 255.0;    //pink purple 
34;Caudal Rhinal Vein left;255.0; 85.0; 255.0;     //pink purple
20;Rostral Rhinal Vein right;170.0; 0.0; 0.0;    //red brown 
21;Rostral Rhinal Vein left;170.; 85.0; 0.0;    //red brown
101;Sigmoid Sinus right;170.0; 170.0; 0.0;    //yellow green 
24;Sigmoid Sinus left;170.0; 170.0; 100.0;    //yellow green 
58;Longitudinal Hippocampal Vein right;170.0; 170.0; 255.0;    //blue grey 
57;Longitudinal Hippocampal Vein left;111.0; 127.0; 150.0;     //blue grey
56;Thalamostriate Vein right;255.0; 0.0; 191.0;    //dark pink 
54;Thalamostriate Vein left;170.0; 85.0; 127.0;     //dark pink
1;Medial Collicular Vein right;85.0; 85.0; 0.0;     //dark pink
16;Medial Collicular Vein left;145.0; 145.0; 0.0;    //dark pink
170;unknown sinus/vein;85.0; 0.0; 127.0;    //dark purple 
171;Lateral collicular Vein right;85.0; 0.0; 170.0;    //dark purple 
172;Lateral collicular Vein left;85.0; 0.0; 200.0;    //dark purple 
250;unknown sinus/vein left;85.0; 0.0; 0.0;    //dark brown
251;unknown sinues/vein right;170.0; 0.0; 127.0;    //dark pink-purple

