#####label#; label name; color red; green; blue;
#####labels_sorted=[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18, 20, 21, 24, 30, 34, 35, 43, 45, 46, 49, 54, 56, 57, 58, 68, 101, 170, 171,172, 190, 191, 192, 196, 200, 227, 246, 250, 251]
#######################################################################################################
0;None;255.0; 255.0; 255.0;    //white
2;Internal Carotid A. R.;100.0; 170.0; 255.0;    //blue
43;Internal Carotid A. L.;0.0; 170.0; 255.0;    //blue
102;Internal Carotid A. R. level1;100.0; 170.0; 200.0;    //blue
143;Internal Carotid A. L. level1;0.0; 170.0; 200.0;    //blue
122;Thalamoperforating A.;50.0;50.0;50.0;	//unknown
8;PCA R.;255.0; 170.0; 255.0;    //pink 
5;PCA L.;255.0; 85.0; 127.0;    //pink 
108;PCA R. level1; 200.0; 170.0; 255.0;    //pink
105;PCA L. level1;200.0; 85.0; 127.0;    //pink
35;ACA;255.0; 0.0; 0.0;    //red
135;ACA level1;255.0; 0.0; 50.0;    //red //(this should branch into all in the paper of adrienne!)
13;Olfactory A.;;0.0; 85.0; 0.0;    //dark green
236;Azygos Anterior C. A.;	200.0;100.0;100.0;	//unknown
191;MCA R.;255.0; 255.0; 150.0;    //yellow
190;MCA L.;255.0; 255.0; 0.0;    //yellow 
91;MCA R. level1;200.0; 255.0; 150.0;    //yellow
90;MCA L. level1;200.0; 255.0; 0.0;    //yellow
200;Posterior Comm. A. R.;170.0; 0.0; 255.0;    //purple 
9;Posterior Comm. A. L.;140.0; 0.0; 255.0;    //purple 
7;Vertebral A. R.;85.0; 255.0; 0.0;    //light green
10;Vertebral A. L.;85.0; 255.0; 50.0;    //light green
196;Basilar A.;85.0; 255.0; 255.0;    //light blue 
198;Ventral spinal A.;255.0; 25.0; 255.0;     //pink purple
68;SCA R.;255.0; 170.0; 127.0;    //orange 
227;SCA L.;255.0; 100.0; 0.0;     //orange
46;AICA R.;0.0; 85.0; 0.0;    //dark green 
12;AICA L.;0.0; 85.0; 170.0;     //dark green
49;Internal Auditory A. R.;100.0; 100.0; 150.0;     //light green
45;Internal Auditory A. L.;120.0; 120.0; 180.0;     //light green
14;Anterior Spinal A.;;0.0; 0.0; 255.0;     //blue
15;Pontine Arteries;85.0; 255.0; 255.0;    //light blue
17;Medial Orbitofrontal A. R.;200.0; 0.0; 0.0;    //red
18;Medial Orbitofrontal A. L.;200.0; 30.0; 0.0;    //red
3;Paraolivary A. R.;150.0;150.0;150.0;		//uknown
4;Paraolivary A. L.;100.0;100.0;100.0;	//unknown
11;Superior Saggital Sinus;255.0; 85.0; 0.0;    //orange 
111;Superior Saggital Sinus level1; 200.0; 85.0; 0.0;    //orange
6;Great Cerebral V. of Galen;0.0; 0.0; 255.0;     //blue
206;Great Cerebral V. of Galen level1;0.0; 0.0; 200.0;     //blue
30;Transverse Sinus R.;0.0; 170.0; 0.0;    //green 
246;Transverse Sinus L.;0.0; 255.0; 0.0;     //green
192;Caudal Rhinal V. R.;255.0; 170.0; 255.0;    //pink purple 
34;Caudal Rhinal V. L.;255.0; 85.0; 255.0;     //pink purple
20;Rostral Rhinal V. R.;170.0; 0.0; 0.0;    //red brown 
21;Rostral Rhinal V. L.;170.; 85.0; 0.0;    //red brown
101;Sigmoid Sinus R.;170.0; 170.0; 0.0;    //yellow green 
24;Sigmoid Sinus L.;170.0; 170.0; 100.0;    //yellow green 
58;Longitudinal Hippocampal V. R.;170.0; 170.0; 255.0;    //blue grey 
57;Longitudinal Hippocampal V. L.;111.0; 127.0; 150.0;     //blue grey
56;Thalamostriate V. R.;255.0; 0.0; 191.0;    //dark pink 
54;Thalamostriate V. L.;170.0; 85.0; 127.0;     //dark pink
1;Medial Collicular V. R.;85.0; 85.0; 0.0;     //dark pink
16;Medial Collicular V. L.;145.0; 145.0; 0.0;    //dark pink
170;unknown sinus/V.;170.; 50.0; 0.0;    //red brown
171;Lateral collicular V. R.;85.0; 0.0; 170.0;    //dark purple 
172;Lateral collicular V. L.;85.0; 0.0; 200.0;    //dark purple 
250;unknown sinus/V. L.;85.0; 0.0; 0.0;    //dark brown
251;unknown sinues/V. R.;170.0; 0.0; 127.0;    //dark pink-purple

